<h1>Users</h1>
<table>
    <tr>
        <td>First Name: </td>
        <td>Last Name: </td>
        <td> Age :</td>
        <td>Created At</td>
    </tr>
    <% @users.each do |user| %>
    <tr>
        <td> <%= user.first_name %></td>
        <td> <%= user.last_name %> </td>
        <td> <%= user.age %> </td>
        <td> <%= user.created_at %></td>
    </tr>
    <% end %>
</table>



