<h1>Our bomb-ass Survey Form</h1>
    <form action = "/submit" method = "post">
        <input name = "authenticity_token" value="<%=
        form_authenticity_token %>" type = "hidden">
            <label> Your Name :</label>
            <input type="text" name = "name">
            <label> Dojo Location :</label>
            <select name="location">
                <option> Dallas </option>
                <option> Seattle </option>
                <option> Fucken Tulsa </option>
                <option> That sinkhole called Fort Worth</option>
            </select>
            <label> Favourite Language: </label>
            <select name = "language">
                <option>Javascript </option>
                <option>Java </option>
                <option>Ruby </option>
                <option>Python </option>
                <option>.Net </option>
            </select>
            <label> Comment : </label>
<input type="textbox" name="comment"col=0"5"  row="10">
            <input type = "submit" value="submit dat shet">
</form>
